<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" url="/" th:object="${messageForm}">
		<input type="text" name="name">
		<input type="text" name="message">
		<input type="submit" value="insert">
	</form>
	<table>
		<tr th:each="tweet : ${tweets}">
			<td th:text="${tweet.id}"></td>
			<td th:text="${tweet.name}"></td>
			<td th:text="${tweet.message}"></td>
			<td>
				<form method="post" url="/" th:object="${delete}">
					<input type="submit" value="delete">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>
